@import "./variables";

.container {
  max-width: $ExtraLarge;
  padding: 0 10px;
  margin: 0 auto;

  @media(max-width: $ExtraLarge) {
    & {
      max-width: $Large;
    }
  }

  @media(max-width: $Large) {
    & {
      max-width: $Medium;
    }
  }

  @media(max-width: $Medium) {
    & {
      max-width: $Small;
    }
  }

  @media(max-width: $Small) {
    & {
      max-width: 100%;
    }
  }
}