@import '../base/variables';

.view-title {
  a {
    text-decoration: none;
    font-size: 40px;
  }
}

.view-btn {
  padding: 10px 25px;
  border: 1px solid $black;
  display: inline-block;
  margin-top: 20px;
  a {
    text-decoration: none;
  }
  &-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}
